* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:rgb(233, 188, 129);
    color: #f7f5ea;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: 'QuickSand', sans-serif, 'Times New Roman';
}

body.dark {
    background: #b87c4c;
    color: pink;
}
main {
    flex: 1;
    justify-content: space-between;
    display: flex;
}

nav {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    padding: 10px 30px;
    background: #89a57f;
    width: 100%;
    margin-bottom: 30px;
}

body.dark nav {
    background: rgb(95, 126, 95);
}

nav ul {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    text-decoration: #ebd9d1 wavy underline;
}

nav a {
    text-decoration: none;
    color: #ecdbd3;
}

#themeToggle {
    padding: 10px 30px;
    float: right;
    margin: 15px 40px 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
    font-size: 1.1rem;
    font-family: 'QuickSand', sans-serif, 'Times New Roman';
    font-weight: 700;
    border: #a8bba3 dashed;;
}

body.dark #themeToggle {
    background: rgb(97, 124, 105);
    color: pink;
    border: darkslategrey  dashed;
}

h2 {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 21px;
    text-decoration: rgb(65, 124, 65) wavy underline;
    color: rgb(34, 90, 34);
}

body.dark h2 {
    color: pink;
    text-decoration: pink wavy underline;
    margin-bottom: 21px;
}

p {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-style: italic;
    color: rgb(27, 66, 27);
}

body.dark p {
    color: pink;
}
.container-converter {
    background: #74946b;
    padding: 10px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

body.dark .container-converter {
    background: rgb(32, 77, 77);
}
h1 {
    text-align: center;
    font-size: 2.1rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

label {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 30px;
}

input, select {
    background: #e4fcfb;
    padding: 9px 10px;
    width: 100%;
    gap: 30px;
    margin-top: 9px;
    margin-bottom: 30px;
}

button {
    background: #ebd9d1;
    padding: 10px 20px;
    width: 65%;
    font-size: 0.85rem;
    color: #7a3d0a;
}

.result {
    font-size: 1.3rem;
    font-weight: 700;
    color: #5a3212;
}

body.dark .result {
    color: pink;
}

footer {
    background: #89a57f;
    width: 100%;
    padding: 10px 30px;
    font-size: 1.3rem;
    font-family: 'QuickSands', sans-serif, 'Times New Roman';
    text-align: center;
    margin-top: 30px;
}

body.dark footer {
    background: rgb(95, 126, 95);
    font-weight: 700;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.589rem;
    }
    button {
        padding: 10px;
        margin-bottom: 21px;
    }
}

@media (max-width: 600px) {
    nav ul {
        gap: 20px;
        flex-direction: row;
    }

    #themeToggle {
        padding: 9px 10px;
    }
    p {
        font-size: 0.93rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 1.41rem;
    }
    label {
        font-size: 1.1rem;
    }
    button {
        padding: 9px 2px;
        font-size: 0.9rem;
    }
    .container-converter {
        padding: 12px 30px;
    }
    footer {
        font-size: 1.2rem;
    }
}