* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #b87c4c;
    color: #f7f5ea;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: 'QuickSand', sans-serif, 'Times New Roman';
}

main {
    flex: 1;
    justify-content: space-between;
    display: flex;
}

nav {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    padding: 10px 30px;
    background: #a8bba3;
    width: 100%;
    margin-bottom: 30px;
}

nav ul {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    text-decoration: #ebd9d1 wavy underline;
}

nav a {
    text-decoration: none;
    color: #ecdbd3;
}

.container-converter {
    background: #a8bba3;
    padding: 10px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 2.1rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

label {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 30px;
}

input, select {
    background: #e4fcfb;
    padding: 9px 10px;
    width: 100%;
    gap: 30px;
    margin-top: 9px;
    margin-bottom: 30px;
}

button {
    background: #ebd9d1;
    padding: 10px 20px;
    width: 65%;
    font-size: 0.85rem;
    color: #7a3d0a;
}

.result {
    font-size: 1.3rem;
    color: #5a3212;
}

footer {
    background: #a8bba3;
    width: 100%;
    padding: 10px 30px;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.589rem;
    }
    button {
        padding: 10px;
        margin-bottom: 21px;
    }
}

