@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Ephesis&family=Griffy&family=Meow+Script&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Oregano:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&family=Radley:ital@0;1&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Zen+Antique+Soft&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(241, 224, 177);
    padding: 10px 20px;
    margin: 0;
    min-height: 100vh;
    color: rgb(99, 49, 2);
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-family: 'Oregano', sans-serif, 'Times New Roman';
}

body.dark {
    background: rgb(207, 155, 125);
    color: beige;
}

nav {
    display: flex;
    flex-direction: column;
    background:rgb(97, 49, 4);
    color: rgb(253, 147, 47);
    gap: 30px;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}

body.dark nav {
    background: rgb(82, 46, 23);
}
body.dark nav a {
    color: rgb(221, 173, 173);
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    margin: 15px;
    list-style: none;
    text-decoration: wavy;
    font-size: 1.5rem;
}

nav a {
    text-decoration: wavy;
    color: rgb(228, 190, 165);
    border: dashed;
    padding: 7px;
}

#themeToggle {
    color: brown;
    background: beige;
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 30px;
    margin: 15px 40px 0 auto;
    border: brown dashed;
}

body.dark #themeToggle {
    color: rgb(165, 87, 42);
    border: rgb(173, 115, 76) dashed;
}
main {
    margin-top: 70px;
    flex: 1;
}

footer {
    width: 100%;
    background: rgb(97, 49, 4);
    color: rgb(235, 208, 173);
    text-align: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 50px;
    padding: 10px 30px;
}

body.dark footer {
    background: rgb(82, 46,23);
}
.calculator-container {
    align-items: center;
    width: 45%;
    justify-content: center;
    border: dashed;
    padding: 20px;
    gap: 30px;
    margin: auto;
    margin-bottom: 50px;
    padding-bottom: 70px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 9px;
    margin-top: 30px;
    background: transparent;
    color: rgb(109, 68, 6);
    font-size: 1.3rem;
    font-family: 'Oregano', sans-serif, 'Times New Roman';

}

.buttons button {
    background: rgb(223, 162, 93);
    color: rgb(90, 44, 7);
    font-size: 1.1rem;
    font-style: oblique;
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 1.1rem;
    padding: 2px 7px;
}

body.dark .buttons button {
    background: rgb(165, 97, 42);
    color: beige;
}

body.dark button {
    background: rgb(165, 97, 42);
    color: beige;
}
.equal {
    grid-column: span 2;
}

.memory {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    align-items: center;
    color: red;
    background: transparent;
    gap: 10px;
    padding: 10px 20px;
}

button {
    background: rgb(238, 175, 102);
    padding: 2px 11px;
    gap: 10px;
    align-items: center;
    font-size: 1.3rem;
    font-style: oblique;
    cursor: pointer;
}

#display-wrapper {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    align-items: center;
}

#angleIndicator {
    color: rgb(90, 53, 18);
    background: transparent;
    font-size: 1.5rem;
    font-style: oblique;
    font-weight: 400;
}

#display {
    flex: 1;
    padding: 10px 70px;
    font-size: 1.3rem;
    color: rgb(136, 78, 25);
    font-style: oblique;
    text-align: right;
    align-items: center;
    justify-content: center;
    width: auto;
}

.deg-rad {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 21px;
    align-items: center;
    font-size: 1.3rem;
}

.deg-rad input[type="radio"] {
    accent-color: red;
    margin-right: 10px;
    cursor: pointer;
}

