@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Ephesis&family=Griffy&family=Meow+Script&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Oregano:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&family=Radley:ital@0;1&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Zen+Antique+Soft&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(218, 144, 94);
    padding: 10px 20px;
    margin: 0;
    min-height: 100vh;
    color: rgb(99, 49, 2);
    font-size: 1.3rem;
    font-family: 'Oregano', sans-serif, 'Times New Roman';
}

nav {
    display: flex;
    flex-direction: column;
    background:rgb(97, 49, 4);
    color: rgb(253, 147, 47);
    margin: auto;
    gap: 30px;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    margin: 15px;
    list-style: none;
    text-decoration: wavy;
    font-size: 1.5rem;
}

nav a {
    text-decoration: wavy;
    color: rgb(228, 190, 165);
    border: dashed;
}

main {
    margin-top: 70px;
    flex: 1;
}

footer {
    width: 100%;
    background: rgb(97, 49, 4);
    color: rgb(235, 208, 173);
    text-align: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

