
body {
    font-family: "Playfair Display", serif;
    background: rgb(131, 60, 60);
    color: var(--text-dark);
    transition: background 0.4s, color 0.4s;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
body.dark {
    background: rgb(94, 3, 26);
}
nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    gap: 30px;
    padding: 10px 30px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background: rgb(180, 89, 93);
    margin-bottom: 10px;
}

body.dark nav {
    background: rgb(155, 51, 51);
}
body.dark nav ul {
    text-decoration: rgb(209, 159, 178) wavy underline;
}
body.dark nav a {
    color: rgb(192, 180, 180);
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: pink wavy underline;
    color: pink;
}

nav a {
    text-decoration: none;
    color: pink;
}

main {
    flex: 1;
    padding-top: 110px;
    justify-content: center;
}

#themeToggle {
    background: rgb(143, 40, 71);
    padding: 10px 30px;
    width: 90px;
    position: absolute;
    float: right;
    right: 0;
    text-align: center;
    border: dashed;
    margin-top: 21px;
    margin-right: 30px;
}

body.dark #themeToggle {
    background: rgb(177, 104, 116);
    color: rgb(139, 25, 53);
    border: rgb(110, 40, 58) dashed;
}

h3 {
    color: pink;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.37rem;
    text-decoration: pink wavy underline;
}

body.dark h3 {
    color: rgb(248, 227, 214);
    text-decoration: wheat wavy underline;
}

p {
    color: pink;
    text-align: center;
    align-items: center;
    justify-content: center; 
    font-style: italic;
}
.card p {
    font-size: 20px;    
    color: rgb(136, 55, 55);
}
.card {
    position: relative;
    margin-top: 30px;
    width: 30%;
    background: rgb(247, 173, 185);
    padding: 10px 30px;
    border-radius: 0;
    text-align: center;
    color: #500b0b;
    z-index: 1;
    margin-top: 30px;
    margin-bottom: 50px;
    margin: 30px auto 50px auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

body.dark .card {
    background: rgb(182, 131, 131);
}
.card h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.card p {
    margin-bottom: 1rem;
}

input[type="date"] {
    padding: 0.5rem;
    border-radius: 10px;
    border: 22px;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

button {
    padding: 0.6rem 1.2rem;
    background-color: #9e2c35;
    color: rgb(245, 196, 204);
    border: none;
    font-family: 'Playfair Display', sans-serif;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.2s ease, background 0.3s ease;
    
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-weight: 500;
}

.result {
    font-size: 1.2rem;
    margin-top: 1.3rem;
    font-weight: bold;
}


button {
    width: 55%;
    box-sizing: border-box;
    margin-top: 0.5rem;
}

footer {
    bottom: 0;
    position: relative;
    padding: 10px 30px;
    width: 100%;
    color: pink;
    background: rgb(180, 89, 93);
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
}

body.dark footer {
    background: rgb(155, 51, 51);
}

@media (max-width: 700px) {
    .card {
        width: 70%;
        margin: 21px auto;
    }

    nav ul {
        font-size: 1.3rem;
        gap: 13px;
    }

    h3 {
        font-size: 1.1rem;
    }
}

@media (max-width: 600px) {
    .card {
        width: 85%;
        margin: 21px auto;
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 12px;
        font-size: 1.01rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    p, .card p {
        font-size: 0.91rem;
    }
}