:root {
    --bg-light: #f5f7fa;
    --text-light: #222;
    --bg-dark: #0f0f2b;
    --text-dark: #f9f9f9;
}

body {
    font-family: "Playfair Display", serif;
    background: rgb(131, 60, 60);
    color: var(--text-dark);
    transition: background 0.4s, color 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.card p {
    font-size: 20px;
}
.card {
    position: relative;
    width: 70%;
    background: rgb(247, 173, 185);
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    color: #500b0b;
    z-index: 1;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}

.card h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.card p {
    margin-bottom: 1rem;
}

input[type="date"] {
    padding: 0.5rem;
    border-radius: 10px;
    border: 22px;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

button {
    padding: 0.6rem 1.2rem;
    background-color: #9e2c35;
    color: rgb(245, 196, 204);
    border: none;
    font-family: 'Playfair Display', sans-serif;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.2s ease, background 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    background-color: #5a0715;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-weight: 500;
}

.result {
    font-size: 1.2rem;
    margin-top: 1.3rem;
    font-weight: bold;
}

/* Theme toggle button */
#themeToggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.4rem;
    z-index: 10;
}

input[type="date"] {
    button {
        width: 100%;
        box-sizing: border-box;
    }

    button {
        margin-top: 0.5rem;
    }
}